<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://apps-static.flock.co/js-sdk/0.1.0/flock.js"></script>
    <script src="js/createInfoTip.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
<body>
<div class="form-style-6">
    <h1>Publish Insight</h1>
    <form>
        <input type="text" id="tag" placeholder="Enter Tag"/>
        <input type="text" id="img" placeholder="Enter Image Source"/>
        <textarea name="text" id="msg" placeholder="Enter Message"></textarea>
        <input type="submit" id="submit" value="Submit"/>
    </form>
</div>
</body>
</html>